img {
  display: none;
}

.initially-showing {
  display: none;
}

.rosie-showing {
  display: none;
}

.b9-showing {
  display: none;
}

.robby-showing {
  display: none;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
